/*Estilado del contacto*/

.main_contacto{
    min-height: 85vh;
    
    .contacto{
        padding-top:1%;
        
        .contacto__titulo__sugerencia{
            margin-left: 5vh;
            color: map-get($colores, verde);
        }
        
        .contacto__titulo__datos{
            margin-left: 5vh;
        }


    }

    .contacto__formulario{
        @include fondo_gen(contacto);
        margin: 5vh;
        padding:2%;
    }


    .contacto__formulario__casillas{
        align-items: center;
        text-align: center;

        .contacto__formulario__datos{
            width: 70%;
            background-color:map-get($fondos,transp_grisclaro);
            margin: 0.5vh 0;
            &:hover{
                color:black;
            }
        }

    }
    .contacto__formulario__botones{
        width: 70%;
        margin: 0 auto;
    }

}





