/*Estilado del footer*/
.piedepagina{
    background-color:map-get($colores, verde);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .seguinos{
        padding-left: 1%;
        height: 50%;
        font-family:map-get($fuentes, fuente_index);
        font-size:1.25rem;
        color:map-get($colores, blanco);
    }

    .iconos{
        padding-right: 1%;
        padding-bottom: 3.3%;
        height: 50%;
        font-size:1.87rem;
        color:white;
    }

    .anclas__footer{
        color:map-get($colores, blanco);
        &:hover{
            color:rgb(162, 152, 152);
        }
    
    }


}




