/*Estilado del news*/

.main_news{
    min-height: 80vh;
    .news__contenedor__carrusel{
        margin: 4vh;
        background-color:map-get($fondos,solido_grisclaro);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .news__box__carrusel{
            height: 100%;
            align-items: center;
            .news__box__card1{
                min-height: 500px;
                .news__box__card1__texto{
                    @include fondo_gen(envasado);
                    min-width: auto;
                    height: 100%;
                    padding: 5%;
                    .news__box__carrusel__titulo{
                        text-align: center;
                        color: white;
                    }
                    .news__card1__texto{
                        background-color:map-get($fondos,transp_grisclaro);
                        border-radius: 10px;
                    }
                    .news__card1__info{
                        display: none;
                    } 
                }
                .news__card1__box__foto{
                    display: none;
                }
            }
            .news__card2__box__foto{
                display: flex;
                justify-content: center;
                .news__card2__foto{
                    min-width: auto;
                    max-height: 500px;
                    justify-content: center; 
                }
            }
            .news__box__video{
                height: 500px;
            }
            .news__card3__box__foto{
                display: none;
            }
            .news__card__fotov{
                min-width: auto;
                max-height: 500px;
                display: none;
            }
        }
    }
}


@media only screen and (min-width: 769px) {  
    .main_news{      
        .news__contenedor__carrusel{
            min-height: 500px;
            background-color:map-get($fondos,solido_grisclaro);
            .news__box__carrusel{
                height: 500px;
                .news__box__card1{                   
                    .news__box__card1__texto{
                        background-image:none;
                        padding: initial;
                        padding:8% 3%;                      
                        .news__box__carrusel__titulo{
                            display: none;
                        }
                        .news__card1__texto{
                            background-color: initial;
                        }
                        .news__card1__info{
                            display: initial;
                            float:right;
                            padding-right:3%;
                            text-decoration: none;
                            color: map-get($colores, verde);
                        } 
                    }
                    .news__card1__box__foto{
                        display:initial;
                    }
                }
                .news__card2__box__foto{
                    .news__foto__vert{
                        display: none;
                    }                   
                }
                
                .news__card3__box__foto{
                    display: initial;
                    .news__foto__proxhor{
                        margin-left: auto;
                        margin-right: auto;
                        max-height:100%;
                        display: initial;
                    }
                }
                .news__card__fotov{
                    min-width: 50%;
                    display: block;
                }
            }
        }
    }
}

