$colores:(
    verde: green,
    blanco:white,
    negro:black,
    gris_hover:rgb(162, 152, 152),
);

$fuentes:(
    fuente_header: 'Klee One',
    fuente_index: 'Ysabeau Office',
);


$fondos:(
    solido_grisclaro: rgb(207, 212, 217),
    transp_grisoscuro:rgba(214, 214, 202, 0.333),
    transp_grisclaro:rgba(255, 255, 255, 0.5),
);

