@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Roboto:wght@100&family=Ysabeau+Office&display=swap");
.cabecera {
  background-color: green;
  font-family: "Klee One";
  font-weight: 100;
  font-size: 22px;
  padding: 1vh;
}

/*Estilado del footer*/
.piedepagina {
  background-color: green;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seguinos {
  padding-left: 1%;
  height: 50%;
  font-family: "Ysabeau Office";
  font-size: 20px;
  color: white;
}

.iconos {
  padding-right: 1%;
  padding-bottom: 3.3%;
  height: 50%;
  font-size: 30px;
  color: white;
}

.anclas__footer {
  color: white;
}
.anclas__footer:hover {
  color: rgb(162, 152, 152);
}

/*Estilado del index*/
.main__index {
  min-height: 100vh;
  width: 100%;
}

.index__fondo {
  background-image: url("./multimedia/fondo_index.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 5vw;
}

.index__titulo {
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px; /*Cambiar a rem o em*/
  text-align: center;
  background-color: rgba(214, 214, 202, 0.333);
  padding: 5vh;
  color: black;
}

.index__menu {
  justify-content: space-around;
  width: 100%;
  margin-top: 5vw;
}

.index__cajachica__ancla {
  font-weight: bold;
  text-align: center;
  font-family: C, sans-serif;
  text-decoration: none;
  color: black;
  width: 15%;
}
.index__cajachica__ancla:hover {
  color: rgb(162, 152, 152);
}

.index__contenedorcard {
  margin: 10vh auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  list-style-type: none;
}

.index__card {
  min-height: 10vh;
  background-color: rgb(207, 212, 217);
}

.index__card__fondoveggie, .index__card__fondovegetarianos, .index__card__fondotradicionales, .index__card__fondoespeciales {
  display: none;
}

.index__card__contenidoveggie {
  background-image: url("./multimedia/veggie.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  font-weight: 500;
  color: black;
}

.index__card__contenidovegetarianos {
  background-image: url("./multimedia/vegetarianos.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  font-weight: 500;
  color: black;
}

.index__card__contenidotradicionales {
  background-image: url("./multimedia/tradicionales.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  font-weight: 500;
  color: black;
}

.index__card__contenidoespeciales {
  background-image: url("./multimedia/especiales.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  font-weight: 500;
  color: black;
}

.index__card__contenido__fondo {
  margin: 10vh auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

#veggie, #vegetarianos, #tradicionales, #especiales {
  font-size: 19px;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.index__card__subtitulo {
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  .index__card__contenidoveggie, .index__card__contenidovegetarianos, .index__card__contenidotradicionales, .index__card__contenidoespeciales {
    margin: 0 auto;
    background-image: none;
  }
  .index__card__fondoveggie {
    display: initial;
    background-image: url("./multimedia/veggie.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px; /*Cambiar a vh*/
  }
  .index__card__fondotradicionales {
    display: initial;
    background-image: url("./multimedia/tradicionales.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px; /*Cambiar a vh*/
  }
  .index__card__fondovegetarianos {
    display: initial;
    background-image: url("./multimedia/vegetarianos.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px; /*Cambiar a vh*/
  }
  .index__card__fondoespeciales {
    display: initial;
    background-image: url("./multimedia/especiales.jpg");
    background-size: cover;
    background-position: center;
    min-height: 400px; /*Cambiar a vh*/
  }
  .index__card__contenido__fondo {
    background-color: initial;
  }
}
@media only screen and (max-width: 1000px) {
  .index__menu__gustos__lista {
    display: none;
  }
  .index__cajachica__ancla {
    background-color: rgba(214, 214, 202, 0.333);
    justify-content: start;
    font-size: 20px;
    border-radius: 4px;
  }
}
@media only screen and (min-width: 1000px) {
  .index__menu__gustos {
    background-color: rgba(214, 214, 202, 0.333);
    border-radius: 10px;
    color: black;
    font-size: 25px;
    width: 15%;
    list-style-type: none;
  }
}
/*Estilado del pedidos*/
.pedidos__contenedor {
  background-image: url("./multimedia/fondo_pedidos.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  list-style-type: none;
  height: 18vh;
}

.pedidos__contenedor__titulo {
  color: white;
  text-align: center;
  height: 25%;
  padding-top: 6vh;
}

.pedidos__contenedor__promociones {
  display: none;
}

.pedidos__promociones {
  width: 100%;
  padding: 2vh 0;
}

.pedidos__promociones__iz {
  padding: 0;
}

.pedidos__promociones__izcombo {
  list-style-type: none;
  background-color: rgb(207, 212, 217);
  padding-left: 1.5%;
  width: 95%;
  margin: 2% 6%;
  padding-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pedidos__promociones__izcombotitulo {
  padding-top: 15px;
}

.pedidos__dudas__der {
  background-image: url("./multimedia/pedidos_aside.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.pedidos__dudas__derdetalle {
  background-color: rgba(214, 214, 202, 0.333);
  height: 50%;
  padding: 2vh 0;
}

.pedidos__dudas__dertitulo {
  text-align: center;
}

.pedidos__dudas__derdetallanos {
  padding-top: 15px;
  list-style-type: circle;
}

.pedidos__dudas__derwsp {
  position: fixed;
  font-size: 3rem;
  bottom: 9%;
  right: 0.9%;
}

.pedidos__dudas__dericonwsp {
  color: green;
}
.pedidos__dudas__dericonwsp:hover {
  color: green;
}

.pedidos__dudas__dermapa {
  background-color: rgba(214, 214, 202, 0.333);
  text-align: center;
}

.pedidos__dudas__dermonu {
  width: 100%;
}

@media only screen and (min-width: 637px) {
  .pedidos__contenedor__titulo {
    padding-top: 2%;
  }
  .pedidos__contenedor__promociones {
    display: block;
  }
  .pedidos__promociones__izcombo {
    margin: 2% auto;
  }
}
/*Estilado del contacto*/
.main_contacto {
  min-height: 85vh;
}

.contacto {
  padding-top: 1%;
}

.contacto__titulo__sugerencia {
  margin-left: 5vh;
  color: green;
}

.contacto__titulo__datos {
  margin-left: 5vh;
}

.contacto__formulario {
  background-image: url("./multimedia/contacto.jpg");
  background-size: cover;
  background-position: center;
  margin: 5vh;
  padding: 2%;
}

.contacto__formulario__casillas {
  align-items: center;
  text-align: center;
}

.contacto__formulario__datos {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5vh 0;
}
.contacto__formulario__datos:hover {
  color: black;
}

.contacto__formulario__botones {
  width: 70%;
  margin: 0 auto;
}

/*Estilado del nosotros*/
.nosotros__contenedor {
  padding: 2%;
}

.nosotros__contenedor__amigas {
  background-color: rgb(207, 212, 217);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap-reverse;
}

.nosotros__contenedor__fotodelantal {
  height: 100%;
}

.nosotros__contenedor__fotonosotras {
  width: 0;
}

.nosotros__fotonosotras {
  display: none;
  width: 0;
}

.nosotros__fotodelantal {
  height: 25vh;
  border: 3px solid green;
  padding: initial;
  display: block;
}

.nosotros__contenedor__amigastexto {
  border: 3px solid red;
  margin-top: 6%;
  padding-top: 8%;
  padding-left: 2%;
  padding-right: 2%;
}

.nosotros__amigastexto {
  background-color: rgba(255, 255, 255, 0.5);
}

.nosotros__fotonosotras__mobile {
  position: absolute;
  height: auto;
  width: 140px;
  z-index: 1;
  border: 3px solid white;
  margin-left: 70%;
  margin-top: 6%;
}

@media only screen and (min-width: 768px) {
  .nosotros__fotonosotras__mobile {
    display: none;
  }
  .nosotros__fotonosotras {
    display: initial;
    position: absolute;
    height: auto;
    width: 150px;
    z-index: 1;
    border: 3px solid white;
    margin-top: 23%;
  }
  .nosotros__fotodelantal {
    display: initial;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    padding: 3% 0;
  }
  .nosotros__contenedor__amigastexto {
    background-image: none;
  }
  .nosotros__contenedor__fotonosotras {
    width: 25%;
  }
  .nosotros__amigastexto {
    background-color: initial;
  }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
  .nosotros__fotodelantal {
    height: 80vh;
  }
}
/*Estilado del news*/
.main_news {
  min-height: 80vh;
}

.news__contenedor__carrusel {
  background-color: rgb(207, 212, 217);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news__box__carrusel {
  height: 100%;
  align-items: center;
}

.news__box__card1 {
  height: 500px;
}

.news__box__card1__texto {
  background-image: url("./multimedia/envasado.jpg");
  background-size: cover;
  background-position: center;
  min-width: auto;
  height: 100%;
  padding-top: 15%;
}

.news__card1__texto {
  background-color: rgba(255, 255, 255, 0.5);
}

.news__card1__info {
  display: none;
}

.news__card1__box__foto {
  display: none;
}

.news__card__fotov {
  min-width: auto;
  max-height: 500px;
  display: none;
}

.news__card2__box__foto {
  display: flex;
  justify-content: center;
}

.news__card2__foto {
  min-width: auto;
  max-height: 500px;
  justify-content: center;
}

.news__box__video {
  height: 500px;
}

.news__card3__box__foto {
  display: none;
}

@media only screen and (min-width: 769px) {
  .news__contenedor__carrusel {
    margin: 4vh;
    min-height: 500px;
    background-color: rgb(207, 212, 217);
  }
  .news__box__card1__texto {
    background-image: none;
    padding-top: 8%;
  }
  .news__card1__box__foto {
    display: initial;
  }
  .news__box__carrusel {
    height: 500px;
  }
  .news__foto__proxhor {
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    display: initial;
  }
  .news__foto__vert {
    display: none;
  }
  .news__card3__box__foto {
    display: initial;
  }
  .news__card__fotov {
    min-width: 50%;
    display: block;
  }
  .news__card1__texto {
    background-color: initial;
  }
  .news__card1__info {
    display: initial;
    float: right;
    padding-right: 4%;
  }
}

/*# sourceMappingURL=watch.css.map */
